@import url("https://fonts.googleapis.com/css2?family=Gidole&display=swap");

*{
    margin:0;  
    padding:0;
    box-sizing: border-box;
    text-decoration:none;
    border:none;
    outline: none;
    font-family: 'Gidole', sans-serif;

}

html{
    font-size: 62.5%;

}

body{
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background-color: #fefae0;
    color: #ccd5ae;

}

header{
    margin-top: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 9%;
    background-color: transparent;
    filter:drop-shadow(10px);
    display: flex;
    justify-content:space-between;
    align-items:center;
    z-index: 100;

}

.logo{
    font-size: 3rem;
    color: #d4a373;
    font-weight: 800;
    cursor: pointer;
    transition: 0.5s ease;
}

.logo:hover{
    transform: scale(1.1);
}


nav a{
    font-size:1.8rem;
    color: #ccd5ae;
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;

}

nav ul{
    list-style: none;
    color:#ccd5ae;
    margin: 0;
    background: #fefae0;
}

nav ul li{
    display: inline;
    
}


nav a:hover
nav a:active{
    color: #d4a373;
    border-bottom: 3px solid  #d4a373;
}

@media(max-width: 995px){
    nav{
        position:absolute;
        top: 100%;
        right: 0;
        width: 40%;
        border-left:3px solid #d4a373;
        border-bottom: 3px solid #d4a373;
        border-bottom-left-radius: 2rem;
        padding: 1rem solid;
        background-color: #fefae0;
        border-top: 0.1rem solid(rgba(0,0,0,0.1));
    }

    nav .active{
        display: block;

    }

    nav a{
        display: inline-block;
        font-size: 2rem; 
        margin: 3rem 0;
    }

    nav a:hover
    nav a:active{
        padding: 1rem;
        border-radius: 0.5rem;
        border-bottom: 0.5rem solid ##d4a373;
    }
}

section{
    min-height: 100vh;
    padding: 5rem 9% 5rem;
}

.home{
    display: flex;
    justify-content:center;
    align-items:center;
    gap: 8rem;
    background-color: #fefae0;
}

.home .home-text h1{
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.3;

}

span{
    color: #d4a373;
}

.home-content h3{
    font-size: 4rem;
    margin-bottom: 1rem;
    font-weight: 700;
}

.home-img{
    border-radius: 50%;
}

.home-img img{
    position: relative;
    width: 32vw;
    border-radius: 50%;
    box-shadow: 0 0 25px; 
    cursor: pointer;
    transition: 0.2 linear;
}

.home-img img:hover{
    font-size: 1.8rem;
    font-weight:500;
}

.social-icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    /*color: #ccd5ae;*/
    background-color: transparent;
    border: 0.2rem solid #d4a373;
    font-size: 2rem;
    border-radius: 50%;
    margin: 3rem 1.5rem 3rem;
    transition: 0.3s ease;
}

.social-icons a:hover{
    color: #ece7c5;
    transform: scale(1.3) translateY(-5px);
    background-color: #fefae0;
    box-shadow: 0 0 25px #fefae0;
}

.button{
    display: inline-block;
    padding: 1rem 2.8rem;
    background-color: #ccd5ae;
    border-radius: 4rem;
    font-size:1.6rem;
    color: #fefae0;
    letter-spacing: 0.3rem;
    font-weight: 600;
    border: 2px solid #fefae0;
    transition: 0.3s ease;
    cursor: pointer;
}

.button:hover{
    transform: scale3d(1.03);
    background-color: #fefae0;
    color: #d4a373;
    box-shadow: 0 0 25px #fefae0;




}